/* 渲染图片头像和文字头像的样式UI结构 */
.user-info-box {
  line-height: 70px;
  width: 200px;
  text-align: center;
  user-select: none;
}

.welcome {
  font-size: 12px;
}
.text-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #009688;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}
/* 渲染图片头像和文字头像的样式UI结构 */

.iconfont {
  margin-right: 8px;
}

.layui-icon {
  margin-right: 8px;
  margin-left: 20px;
}
iframe{
    width: 100%;
    height: 100%;
}

/* 强制清除<a>链接的CSS3动画 */
a{
    transition: none !important;
}